<?xml version="1.0" encoding="UTF-8"?>
<jSmugmugBackup>
    <config>
        <logfile>jSmugmugBackup.log</logfile>
        <verbosity>Debug</verbosity>                     <!-- Debug, Info, Warning, Error, Exception, Message-->
        <appendLogfile>true</appendLogfile>
        <checkMD5Sums>false</checkMD5Sums>
        <cacheAccountInfo>true</cacheAccountInfo>
    </config>
    <albumDefaults> <!-- not implemented yet -->
        <!-- essentials -->
        <albumGeography>true</albumGeography>            <!-- smugmug default: true -->

        <!-- look&feel -->
        <albumClean>false</albumClean>                   <!-- smugmug default: false -->
        <albumExif>true</albumExif>                      <!-- smugmug default: true -->
        <albumFilenames>true</albumFilenames>            <!-- smugmug default: false -->
        <albumSquareThumbs>false</albumSquareThumbs>     <!-- smugmug default: true -->
        <albumSortMethod>FileName</albumSortMethod>      <!-- smugmug default: position -->
        <albumSortDirection>false</albumSortDirection>   <!-- asc = false; desc = true -->

        <!-- security and privacy -->
        <!--<albumPassword></albumPassword>-->
        <!--<albumPasswordHint></albumPasswordHint>-->
        <albumPublic>false</albumPublic>                    <!-- smugmug default: true -->
        <albumWorldSearchable>false</albumWorldSearchable>  <!-- smugmug default: true -->
        <albumSmugSearchable>false</albumSmugSearchable>    <!-- smugmug default: true -->
        <albumExternal>true</albumExternal>                 <!-- smugmug default: true -->
        <albumHideOwner>false</albumHideOwner>              <!-- smugmug default: false -->

        <albumLarges>true</albumLarges>                     <!-- smugmug default: true (pro only) -->
        <albumXLarges>true</albumXLarges>                   <!-- smugmug default: true (pro only) -->
        <albumX2Larges>true</albumX2Larges>                 <!-- smugmug default: true  -->
        <albumX3Larges>true</albumX3Larges>                 <!-- smugmug default: true  -->
        <albumOriginals>false</albumOriginals>              <!-- smugmug default: true  -->

        <!-- social -->
        <albumCanRank>true</albumCanRank>                   <!-- smugmug default: true -->
        <albumFriendEdit>false</albumFriendEdit>            <!-- smugmug default: false -->
        <albumFamilyEdit>false</albumFamilyEdit>            <!-- smugmug default: false -->
        <albumComments>true</albumComments>                 <!-- smugmug default: true -->
        <albumShare>true</albumShare>                       <!-- smugmug default: true -->

        <!-- printing&sales -->
        <albumPrintable>true</albumPrintable>               <!-- smugmug default: true -->
    </albumDefaults>
</jSmugmugBackup>
