<?xml version="1.0" encoding="UTF-8"?>
<jSmugmugBackup>
    <config>
        <logfile>jSmugmugBackup.log</logfile>
        <appendLogfile>true</appendLogfile>
        <checkMD5Sums>false</checkMD5Sums>
        <cacheAccountInfo>true</cacheAccountInfo>
    </config>
    <albumDefaults>
        <!-- essentials -->
        <albumGeography>true</albumGeography>            <!-- default: true -->

        <!-- look&feel -->
        <albumClean>false</albumClean>                   <!-- default: false -->
        <albumExif>true</albumExif>                      <!-- default: true -->
        <albumFilenames>true</albumFilenames>            <!-- default: false -->
        <albumSquareThumbs>false</albumSquareThumbs>     <!-- default: true -->
        <albumSortMethod>FileName</albumSortMethod>      <!-- default: position -->
        <albumSortDirection>true</albumSortDirection>    <!-- asc = true; desc = false -->

        <!-- security and privacy -->
        <albumPassword></albumPassword>
        <albumPasswordHint></albumPasswordHint>
        <albumPublic>false</albumPublic>                    <!-- default: true -->
        <albumWorldSearchable>false</albumWorldSearchable>  <!-- default: true -->
        <albumSmugSearchable>false</albumSmugSearchable>    <!-- default: true -->
        <albumExternal>false</albumExternal>                <!-- default: true -->
        <albumHideOwner>false</albumHideOwner>              <!-- default: false -->

        <!-- social -->
        <albumCanRank>true</albumCanRank>                   <!-- default: true -->
        <albumFriendEdit>false</albumFriendEdit>            <!-- default: false -->
        <albumFamilyEdit>false</albumFamilyEdit>            <!-- default: false -->
        <albumComments>true</albumComments>                 <!-- default: true -->
        <albumShare>false</albumShare>                      <!-- default: true -->

        <!-- printing&sales -->
        <albumPrintable>true</albumPrintable>               <!-- default: true -->
    </albumDefaults>
</jSmugmugBackup>
